/*
 * Button Component
 */

/* Normal Button
 -----------------------------------------------------------------------------*/
.button {
    background: $blue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: $font-size-large;
    padding: $s-size;
}

.button:disabled {
    cursor: default;
}
