/*
 * Button Component
 */

/* Normal Button
 -----------------------------------------------------------------------------*/
.button {
    background: darken($off-white, 3%);
    border: none;
    color: $dark-grey;
    display: inline-block;
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: normal;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: darken($off-white, 10%);
}

.button:disabled {
    cursor: default;
}

// Like Link Button
.button--link {
    color: white;
    background: none;
}

.button--link:hover,
.button--link:active {
    background: none;
    color: darken(white, 15%);
}

.button-primary {
    background: $blue;
    color: white;
}

.button-primary:hover,
.button-primary:active {
    background-color: darken($blue, 10%);
}
