* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-size: $font-size-normal;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    min-width: 26rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.primary-container {
    flex-grow: 1;
}

ul {
    margin: 0;
}
